body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}


header, nav, footer, section, article, div {
    box-sizing: border-box;
}

h1, h2, h6{
    color: #505050;
}

.container {
    width: 100%;
}

.feature__img{
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    line-height: 0.5;
    -webkit-align-content: center;
    align-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.color__desc{
    line-height: 0.1em;
    margin-left: 25%;
    font-size:2vw;
    color: #212121;
}

.margin__top{
    margin-top: 25px;
}

.side__info { 
    width:15%;
    display:inline-block;
    vertical-align:top;
}

.header__logo {
    height: 92px; 
}

.header {
    transition: min-height 0.3s; 
    width: 100%;
}



.header__right{
    text-align: right;
    width:100%;
    margin-right: 0px;
}

.header__left{
    text-align: left;
    width: 100%;
    margin-right: 0px;
}

.image__code{
    width: 100%;
    align-content: right;
    padding: 0px;
}

.box2 {
    display: inline-block;
    width: 49%;
    margin-right: 0px;
}

.header__title {
    font-size: 5vw;
    color: #505050;
    line-height: 0.1em;  
}

.header__subtitle {
    font-size: 2vw;
    color: #505050;
    line-height: 0.1em;
}

.content{
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}


@media screen and (max-width: 500px) {
    .column {
        width: 100%;
        -webkit-align-content: center;
        align-content: center;
    }

    .header__logo {
        height: 24px;
    }

    .side__info { 
        width: 15%;
        display: block;
    }

   .color__desc{
        line-height: 0.1em;
        margin-left: 25%;
        font-size: 5vw;
        color: #212121;
    }

    .header__title {
        font-size: 5vw;
        color: #505050;
        line-height: 0.1em;
    }

    .header__subtitle {
        font-size: 3vw;
        color: #505050;
    }

}

